<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>        
       <add name="Origem" connectionString="data source=Dados\Northwind40.sdf" providerName="System.Data.SqlServerCe.SqlCeConnection, System.Data.SqlServerCe" />
       <add name="Destino" connectionString="data source=Dados\Destino.sdf" providerName="System.Data.SqlServerCe.SqlCeConnection, System.Data.SqlServerCe" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>